* {
  box-sizing: border-box;
  cursor: url("objetivo.png"), auto;
}

 html, body{
  height: 100%;
  background-image: url('fondo.jpg');
}

#start{
  background-image: url('fondo.jpg');
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 200px;
  height: 100px;
  font-size: 40px;
  margin-left: 800px;
  margin-top: 30px;
  border: 2px solid #008CBA;
  float: left;
}

#marcador-box {
    width: 270px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 100px solid #31cbea;

    text-align: center;
    vertical-align: middle;
}

#marcador{
  text-align: center;
  font-size: 30px;
  margin-top: -75px;

}

#marcador-box:focus { outline: none; }
#marcador:focus { outline: none;   }

#start:hover {
  background-image: none;
  background-color: #008CBA;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#title{
  width: 35%;
  float: left;
  margin-left: 580px;
  margin-top: 340px;
}


.pajaro1 {
  background-image: url("pajaro1.png");
  float: left;
  animation: walk 1.5s steps(3) infinite;
  position: absolute;
  width: 438px;
  height: 536px;
  margin-left: 1050px;
}


.pajaro2 {
  background-image: url("pajaro2.gif");
  float: left;
  width: 250px;
  height: 250px;
  position: absolute;
  margin-left: 1450px;
}

.pajaro3 {
  background-image: url("pajaro3.png");
  float: left;
  animation: walk1 2.3s steps(8) infinite;
  position: absolute;
  width: 555px;
  height: 500px;
  margin-left: 30px;
  margin-top: 450px;
}

.pajaro4 {
  background-image: url('pajaro4.gif');
  width: 500px;
  height: 470px;
  float: left;
  position: absolute;
  margin-left: 30px;
  margin-top: -90px;
}



@keyframes walk {
  100% { background-position: -1314px; margin-left: -3%;}
}

@keyframes walk1 {
  100% { background-position: -4280px; margin-left: 75%;}
}
